$def with(info) 
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/demo.css" type="text/css" media="screen"/>
<title>欢迎来到Microbe</title>
</head>
<body>
<h1>欢迎来到Microbe，我是Eric！</h1>
<p><b>您的当前ip   :</b>	</u>$info["ip"]</u></p>
<p><b>您的当前时间     :</b>	$info["curTime"]</p>
<p><b>您的登录状态     :</b>	$info["loginInfo"]</p>
<hr/>
<div>
	<p>请选择您需要的操作</p>
	<a href="Login">点击进入登录</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="Logout">点击退出登录</a>
</div>
</body>
</html>